@import url("./global.css");

/* ---- HEADER ---- */

header{
    display: flex;
    background-color: var(--color-secondary);
    justify-content: space-evenly;
    align-items: center;
    padding: 46px;
    border-bottom: 2px solid var(--color-primary); /* Borda inferior */
}

.conteiner-nav-header{
    display: flex;
    align-items: center;
    gap: 139px;
}

.navegation-header ul{
    display: flex;
    gap: 45px;
    list-style: none; /* Remove a bolinha */
}

.navegation-header ul li a{
    text-decoration: none; /* Decoração do texto */    
    color: var( --color-neutral-white);
    font-family: var(--font-family-primary);
}

.btn-primary{
    font-family: var(--font-family-primary);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-neutral-white);
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: #b879f7;
}

/* ---- MAIN ---- */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secondary);
    padding: 100px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 497px;
}

.main-content h1{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1); 
    color: var(--color-neutral-white);
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-content p{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    color: var(--color-neutral-white);
}

.conteiner-cta{
    display: flex;
    gap: 10px;
}

.btn-secundary{
    padding: 10px 25px;
    border-radius: 8px;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    text-decoration: none;
    font-family: var(--font-family-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-neutral-white);
    transition: 0.3s;
}

.btn-secundary:hover{
    background-color: var(--color-primary);
}

/* ---- SECTION CONTROL ---- */

.section-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--color-neutral-white);
    padding: 60px;
}

.content-service{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 607px;

}

.content-service h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-secondary);
}

.content-service h2 span{
    color: var(--color-primary);
}

.content-service p{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-secondary);
}

/* ---- SECTION EVOLUTION ---- */

.section-evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 60px;
    background-color: var(--color-secondary);
}

.content-evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.content-evolution h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-neutral-white);
}

.content-evolution h2 span{
    color: var(--color-primary);
}

.content-evolution p{ 
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-neutral-white);
    width: 730px;
    text-align: center;
}

/* ---- FOOTER ---- */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 126px;
    padding: 80px;
    background-color: var(--color-secondary);
    border-top: 1px solid var(--color-neutral-white);
}

.group-footer{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.footer-informations{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: var(--font-family-primary);
}

.footer-informations h2{    
    font-size: var(--font-size-button);
    color: var(--color-neutral-white);

}

.footer-informations ul{
    list-style: none;
} 

.footer-informations ul li a{
    text-decoration: none;
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
}

.footer-form{
    display: flex;
    flex-direction: column;
    width: 385px;
}

.footer-form h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    color: var(--color-neutral-white);
    width: 203px;
    }

form{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4D4D4D;
    padding: 16px 0;
}

input{
    background-color: transparent;
    color: var(--color-neutral-white);
}

form button{
    display: flex;
    padding: 11px;
    border-radius: 50px;
    background-color: var(--color-primary);
    transition: 0.3s;
}

form button:hover{
    background-color: #b879f7;
}